/* fonts */

$font-family-default: 'M PLUS Rounded 1c', sans-serif;
$font-family-decorative: 'Comfortaa', sans-serif;

$fs-h1: 48px;
$fs-h2: 40px;
$fs-h3: 32px;
$fs-h4: 24px;
$fs-main: 18px;
$fs-button: 16px;
$fs-secondary: 16px;

$lh-150: 150%;
$lh-135: 135%;
$lh-130: 130%;
$lh-120: 120%;

/*colors*/

$white: #fff;
$gray-10: #fafafa;
$gray-20: #efefef;
$gray-40: #d9d9d9;
$gray-60: #919898;
$gray-70: #677171;
$gray-80: #344040;
$gray-100: #132323;

$primary-color: #03363d;
$logo-secondary-color: #4a6565;
$logo-secondary-color-dark: #77b7b7;

$accent-color: #8e3a1b;
$hover-color: #422318;
$pressed-color: #2c1d17;
$disabled-color: #c6bfbc;

$header-background-color: rgba(225, 225, 225, 0.75);
$header-background-color-hover: rgba(225, 225, 225, 0.85);
$info-color: #E6F0FA;
$info-text-color: #3498DB;
