.survey-step-7 .survey-step__title {
  margin-bottom: 16px;

  @include onMobile {
    margin-bottom: 12px;
  }
}

.result__title {
  margin-bottom: 40px;

  @include onMobile {
    margin-bottom: 32px;
  }
}

.survey-step-7__secondary-text {
  color: $gray-70;
}
