.mobile-filters.open {
  opacity: 1;
  transform: translateX(0);
}

.mobile-filters {
  padding: 16px 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $gray-10;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.mobile-filters-top {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-filter__options {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mobile-filter__option {
  color: $gray-100;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  & label {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  & input {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
}

.mobile__filter {
  padding: 16px 0 16px;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-40;
  }
}

.mobile-filter__title {
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  color: $gray-100;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.mobile-filters__close-button {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/cross.svg');
}

.mobile-filters__content-devider {
  height: 1px;
  width: 100%;
  background-color: $gray-40;
}

.mobile-filters__block {
  margin-bottom: 12px;
}

.filters-apply__button {
  margin: 0 auto;
  padding: 4px 8px;
  width: 167px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  border: 2px solid $accent-color;
  background: var(--White, #fff);
  color: $gray-100;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/icons/secondary-button-arrow-right.svg');
  }
}
