.survey-step-8 .survey-step__title {
  margin-bottom: 40px;
}

.survey-step-8__form-field {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.survey-step-8__input {
  background-color: $gray-20;
  padding: 12px 16px;
}

.survey-step-8__input:nth-child(2) {
  margin-bottom: 40px;
}

.survey-step-8__button {
  align-self: flex-end;
  width: 208px;
  height: 48px;
  color: $white;
  background-color: $accent-color;
}