.services-survey__start-form {
  display: flex;
  flex-direction: column;
  padding: 128px 0 56px;

  @include onMobile {
    padding: 32px 0 60px;
  }
}

.start-form__title {
  margin-bottom: 20px;
  color: $gray-100;
}

.start-form__text {
  margin-bottom: 150px;
  color: $gray-60;

  @include onMobile {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 130%;
  }
}

.survey-start__button {
  padding: 19px 32px;
  align-self: self-end;
  color: $white;
  background-color: $accent-color;
  transition: all 0.4s ease;

  &:hover {
    background-color: $hover-color;
    color: $white;
  }

  @include onMobile {
    margin: 0 auto;
  }
}
